@font-face {
    font-family: MyFonts;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
  }

  body {
    font-family: MyFonts;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.letters {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.letters button {
    font-family: MyFonts;
    font-size: 18px;
    padding: 10px;
}

.letters button.correct {
    background-color: grey;
    color: white;
    border: none;
}

.letters button.incorrect {
    background-color: #9e9e9e;
    color: white;
    border: none;
    cursor: not-allowed;
}